<IfModule mod_rewrite.c>
    
    RewriteEngine on
    RewriteCond %{HTTPS} !=on [NC]
    RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [R,L]
    RewriteRule ^(.*)$ public/$1 [L]
    
</IfModule>